/* COPYRIGHT 2022 THEHIGHERUPS-CLASSIFIED
WRITTEN FOR AND BY THEHIGHERUPS */
* { 
    font-family: 'Dongle', sans-serif;
    margin: 0;
    padding: 0;
}
@media only screen and (max-width: 1105px) {
    #GyJv {
        max-width: 100px;
    }
    #Nnusi {
        max-width: 100px;
    }
    #ZILb {
        max-width: 100px;
    }
    #NCXZe {
        font-size: 10px;
        max-width: 100px;
        max-height: 50px;
    }
    #MnFek {
        max-width: 100px;
    }
    #mafew {
        max-width: 100px;
    }
    #kUttp {
        max-width: 100px;
    }
}
@media only screen and (max-width: 1207px) {
    #bmPpJ {
        max-width: 50px;
    }
    #VotCT {
        visibility: hidden;
    }
    #VotCT::after {
        visibility: visible;
        content: 'Promo Code:';
        margin-left: -75px;
        margin-right: 5px;
    }
    #xgGWr {
        max-width: 50px;
    }
    #BQEku {
        visibility: hidden;
    }
    #BQEku::after {
        visibility: visible;
        content: 'Promo Code:';
        margin-left: -75px;
        margin-right: 5px;
    }
    #nmooc {
        visibility: hidden;
    }
    #nmooc::after {
        visibility: visible;
        content: 'Promo Code:';
        margin-left: -75px;
        margin-right: 5px;
    }
}
@media only screen and (max-width: 915px) {
    div.UZDz {
        width: 70%;
    }
    #xy {
        display: none;
    }
    #eq {
        width: 90%;
        height: 530px;
    }
    #ZzNmm {
        display: none;
    }
    #timey {
        display: none;
    }

}
@media only screen and (max-width: 640px) {
    div.UZDz {
        width: 100%;
    }
}
@media only screen and (max-width: 1376px) {
    #abtlt {
        font-size: 22px;
    }
    #lthbns {
        font-size: 22px;
    }
    #astbns {
        font-size: 22px; 
    }
    #astbnch {
        font-size: 22px;
    }
    #scrtpro {
        font-size: 22px;
    }
}
@media only screen and (max-width: 1400px) {
    #YUSZL {
        width: 320px;
        height: 220px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        padding-top: 180px;
    }
}
@-webkit-keyframes secretBeans {
    0%,
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
  
    10%,
    30%,
    50%,
    70% {
        -webkit-transform: translateX(-10px);
        transform: translateX(-10px);
    }
  
    20%,
    40%,
    60% {
        -webkit-transform: translateX(10px);
        transform: translateX(10px);
    }
  
    80% {
        -webkit-transform: translateX(8px);
        transform: translateX(8px);
    }
  
    90% {
        -webkit-transform: translateX(-8px);
        transform: translateX(-8px);
    }
}
@keyframes secretBeans {
    0%,
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
  
    10%,
    30%,
    50%,
    70% {
        -webkit-transform: translateX(-10px);
        transform: translateX(-10px);
    }
  
    20%,
    40%,
    60% {
        -webkit-transform: translateX(10px);
        transform: translateX(10px);
    }
  
    80% {
        -webkit-transform: translateX(8px);
        transform: translateX(8px);
    }
  
    90% {
        -webkit-transform: translateX(-8px);
        transform: translateX(-8px);
    }
}
@-webkit-keyframes coolbeanspin {
    0% {
        opacity: 0;
        -webkit-transform: rotate(-540deg) scale(2);
        transform: rotate(-540deg) scale(2);
    }
  
    100% {
        opacity: 1;
        -webkit-transform: rotate(0) scale(1);
        transform: rotate(0) scale(1);
    }
}
@keyframes coolbeanspin {
    0% {
        opacity: 0;
        -webkit-transform: rotate(-540deg) scale(2);
        transform: rotate(-540deg) scale(2);
    }
  
    100% {
        opacity: 1;
        -webkit-transform: rotate(0) scale(1);
        transform: rotate(0) scale(1);
    }
}
@-webkit-keyframes muteAudio {
    0%,
    50%,
    100% {
      opacity: 1;
    }
  
    25%,
    75% {
      opacity: 0;
    }
}
@keyframes muteAudio {
    0%,
    50%,
    100% {
      opacity: 1;
    }
  
    25%,
    75% {
      opacity: 0;
    }
}
@-webkit-keyframes muteButtonDiss {
    0% {
        opacity: 1;
        -webkit-transform: rotate(0) scale(1);
        transform: rotate(0) scale(1);
    }
  
    100% {
        opacity: 0;
        -webkit-transform: rotate(-540deg) scale(0);
        transform: rotate(-540deg) scale(0);
    }
}
@keyframes muteButtonDiss {
    0% {
        opacity: 1;
        -webkit-transform: rotate(0) scale(1);
        transform: rotate(0) scale(1);
    }
  
    100% {
        opacity: 0;
        -webkit-transform: rotate(-540deg) scale(0);
        transform: rotate(-540deg) scale(0);
    }
}
@-webkit-keyframes muteButtonHover {
    0%,
    50%,
    100% {
      opacity: 1;
    }
  
    25%,
    75% {
      opacity: 0;
    }
}
@keyframes muteButtonHover {
    0%,
    50%,
    100% {
      opacity: 1;
    }
  
    25%,
    75% {
      opacity: 0;
    }
}
#woah {
    height: 100%;
    width: 100%;
    display: none;
    position: absolute;
    -webkit-animation: coolbeanspin 550ms linear 0s 1 alternate forwards;
    animation: coolbeanspin 550ms linear 0s 1 alternate forwards;
}
#woah img {
    margin-left: 50%;
    margin-right: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}
#tHZb {
    height: 90%;
    width: 90%;
}
#NCXZe {
    width: 500px;
    height: 100px;
    font-size: 20px;
    border-color: transparent;
    border-radius: 5px;
}
#NCXZe:hover {
    border-color: black;
    border-width: 1px;
}
.EutJ {
    background-color: #2d6c9c;
}
/* old background color for the website // 2b65c2 */
/* 2d6c9c */
.zAgw {
    height: 50px;
    width: 100%;
    background-color: #fefefe;
    display: table;
}
#OUMU {
    font-size: 25px;
}
.SIgG {
    background-color:#5250509f;
    padding-left: 17px;
    padding-right: 5px;
    border-radius: 10px;
    width: 9rem;
    cursor: pointer;
    /*
    font-size: 35px;
    text-shadow: 3px 3px 0 red, 6px 6px 0 blue, 9px 9px 0 green;
    width: 9rem;
    cursor: pointer;
    */
}
.hSty {
    display: table-cell;
    vertical-align: middle;
    padding-left: 5px;
}
.pmkN {
    display: table;
    float: right;
}
.ZRpi {
    font-size: 33px;
    display: table-cell;
    vertical-align: middle;
    padding-right: 5px;
    padding-top: 7px;
    cursor: pointer;
}
.nxSs {
    padding-top: 50px;
    height: 50px;
    width: 100%px;
    margin: 0 auto;
    display: table;
}
.JjQk {
    display: table-cell;
    vertical-align: middle;   
}
.VxbT {
    color: rgb(138, 23, 23);
}
.zNJF {
    padding-top: 100px;
    width: 50px;
    height: 50px;
    margin: 0 auto;
}
.UZDz {
    width: 50%;
    height: 1370px;
    margin: 0 auto;
    background-color: white;
    display: table;
    border-radius: 1.75%;
}
.sRwq {
    height: 33px;
    width: 100%;
    background-color: rgb(212, 212, 32);
    display: table;
}
.sRwq h2 {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}
.AUwK {
    height: 250px;
    display: -ms-grid;
    display: grid;
    margin-top: 20px;
    background-color: #9c9c9c9f;
}
#HTwS {
    padding-left: 15px;
    padding-top: 50px;
    height: 150px;
    width: 120px;
}
.mSBm {
    padding-left: 145px;
    margin-top: -180px;
}
.mSBm > h3 {
    font-size: 32px;
}
#GyJv {
    font-size: 20px;
    width: 150px;
    cursor: pointer;
    border-radius: 5px;
    border-width: 1px;
    border-color: transparent;
}
.VomO {
    font-size: 15px;
}
#TSGI {
    margin-left: 5px;
    border-radius: 5px;
    padding-left: 3px;
    padding-right: 3px;
    border-color: transparent;
    cursor: pointer;
}
#ZILb {
    border-color: transparent;
    border-radius: 5px;
}
#TSGI:hover {
    background-color:rgba(62, 62, 62, 0.26);
}
.MWlH {
    position: fixed;
    bottom: 0;
    left: 0;
}
#xy {
    padding-left: 5px;
    font-size: 35px;
}
.ItvYC {
    width: 75%;
    height: 1500px;
    margin: 0 auto;
    background-color: white;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto;
    grid-template-columns: auto;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border-radius: 3%;
}
.kgwim {
    font-size: 45px;
}
.bb {
    margin: 0 auto;
    width: 150px;
}
.beans {
    margin: 0 auto;
    height: 150px;
    width: 150px;
    font-size: 50px;
    border-color: transparent;
    border-radius: 100px;
    cursor: pointer;
}
.beans:hover {
    border-color: black;
    border-width: 1px;
}
#a, 
#b {
    font-size:40px;
    font-family: 'Times New Roman', Times, serif;
    display: none;
}
#b::-moz-selection {
    color:red;
    background-color: default;
}
#b::selection {
    color:red;
    background-color: default;
}
.wFzPy {
    position: fixed;
    bottom: 40px;
    left: 10%;
    right: 10%;
    width: 70%;
    margin: 0 auto;
    padding: 5px 14px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-color: thistle;
    -webkit-animation: secretBeans 2s ease 0s infinite normal backwards;
    animation: secretBeans 2s ease 0s infinite normal backwards;
}
.PIwUC {
    font-size: 25px;
}
.TYVf {
    position: absolute;
    right: 5px;

}
.TYVf:hover {
    color: red;
}
#ZpIZv {
    background-color: transparent;
    margin: 0 auto;
    font-size: 40px;
    cursor: default;
}
.qRKDi {
    font-size: 25px;
    text-align: center;
}
.vDrFy {
    width: 35%;
    height: 500px;
    margin: 0 auto;
    border-radius: 15px;
    background-color: white;
    padding: 5px;
}
#gn {
    margin: 0 auto;
    width: 300px;
    height: 50px;
    padding-top: 5px;
}
#ng {
    width: 300px;
    height: 50px;
    font-size: 25px;
    border-radius: 5px;
}
.xokbk {
    display: -ms-grid;
    display: grid;
    text-align: center;
    margin: 0 auto;
    width: 500px;
}
.xokbk img{
    margin-left: auto;
    margin-right: auto;
}
#joker {
    margin-top: 15px;
    max-width: 600px;
    max-height: 450px;
}
#zcfbg {
    margin-top: 15px;
}
.EaLpb {
    display: none;
    position: fixed;
    width: 30px;
    height: 30px;
    bottom: 25px;
    right: 25px;
    background-color: rgba(128, 128, 128, 0.5);
    border-radius: 50%;
    -webkit-animation: muteAudio 2s ease 0s 1 normal forwards;
    animation: muteAudio 2s ease 0s 1 normal forwards;
}
#cwcyW {
    font-size: 25px;
    text-align: center;
    padding-top: 2px;
    cursor: pointer;
    border-radius: 50px;
}
#cwcyW:active {
    color: gray;
}
#cwcyW:hover {
    -webkit-animation: muteButtonHover 2s ease 0s infinite normal forwards;
    animation: muteButtonHover 2s ease 0s infinite normal forwards;
}
#cwcyW:active::-moz-selection {
    color: gray;
}
#cwcyW:active::selection {
    color: gray;
}
#cwcyW::-moz-selection {
    color: black;
}
#cwcyW::selection {
    color: black;
}
#YyfJm {
    display: none;
    font-size: 25px;
    text-align: center;
    padding-top: 2px;
    cursor: pointer;
    border-radius: 50px;
}
#YyfJm:active {
    color: gray;
}
#YyfJm:hover {
    -webkit-animation: muteButtonHover 2s ease 0s infinite normal forwards;
    animation: muteButtonHover 2s ease 0s infinite normal forwards;
}
#YyfJm:active::-moz-selection {
    color: gray;
}
#YyfJm:active::selection {
    color: gray;
}
#YyfJm::-moz-selection {
    color: black;
}
#YyfJm::selection {
    color: black;
}
#JUjmh {
    padding-left: 15px;
    padding-top: 50px;
    height: 155px;
    width: 140px;
}
#Nnusi {
    width: 150px;
    cursor: pointer;
    border-radius: 5px;
    border-width: 1px;
    border-color: transparent;
}
#bmPpJ {
    border-color: transparent;
    border-radius: 5px;
}
#mPHHJ {
    margin-left: 5px;
    border-radius: 5px;
    padding-left: 3px;
    padding-right: 3px;
    border-color: transparent;
    cursor: pointer;
}
#bsgpw {
    margin-left: 20px;
}
#VotCT::before{
    display: none;
    visibility: hidden;
    content: 'Promo Code: ';
}
#QNcYo {
    padding-left: 15px;
    padding-top: 50px;
    height: 150px;
    width: 120px;
}
#OCgmn {
    margin-left: 5px;
}
#MnFek {
    width: 150px;
    cursor: pointer;
    border-radius: 5px;
    border-width: 1px;
    border-color: transparent;
}
#xgGWr {
    border-color: transparent;
    border-radius: 5px;
}
#TpsPg {
    margin-left: 5px;
    border-radius: 5px;
    padding-left: 3px;
    padding-right: 3px;
    border-color: transparent;
    cursor: pointer;
}
#hphez {
    padding-left: 15px;
    padding-top: 50px;
    height: 150px;
    width: 150px;
}
#zdsmk {
    margin-left: 35px;
}
#mafew {
    width: 150px;
    cursor: pointer;
    border-radius: 5px;
    border-width: 1px;
    border-color: transparent;
}
#uWnai {
    margin-left: 5px;
    border-radius: 5px;
    padding-left: 3px;
    padding-right: 3px;
    border-color: transparent;
    cursor: pointer;
}
.nXaAS {
    display: flex;
    background-color: white;
    width: 70vw;
    height: 80vh;
    margin: 0 auto;
    margin-top: 25px;
    border-radius: 1.75%;
}
.imgcont {
    display: flex;
    justify-content: center;
    align-items: center;
    float: left;
    height: 100%;
    width: 25vw;
}
#sultb {
    width: 90%;
    height: 50vh;
}
.discpro {
    align-self: center;
    margin: 0 auto;
    background: gray;
    width: 60%;
    height: 55vh;
    border-radius: 10px;
    float: right;
    color: white;
}
.titl {
    width: 100%;
    height: 15%;
}
.titl h1 {
    padding-left: 15px;
    font-size: 40px;
}
.prodbody {
    font-size: 1.5vw;
    padding: 25px 0 0 15px;
}
.cashout {
    margin-top: 15px;
    width: 100%;
    height: 20%;
}
.coInner {
    height: 100%;
    width: 85%;
    margin: 0 auto;
}
.coInner h1 {
    font-size: 2vw
}
.coInner button {
    font-size: 1.5vw;
    width: 15vw;
}
#limedi {
    font-size: 15px;
    padding-bottom: 5px;
    color: #fffb0f;
}
@media only screen and (max-width: 768px) {
    #sultb {
        height: 40vh;
    }
}
@media only screen and (max-width: 742px) {
    #NtysD {
        width: 100vw;
    }
    #localtext {
        font-size: 2.5vh;
    }
    #limedi {
        font-size: 11.75px;
    }
    #sultb {
        width: 25vw;
        margin-left: 45px;
    }
    #priceContainer {
        font-size: 3vw;
        padding-top: 0;

    }
    #orderFull {
        font-size: 2.5vw;
        width: 25vw;
    }
}
@media only screen and (max-width: 686px) {
    div.discpro {
        height: 90%;
    }
}
@media only screen and (max-width: 477px) {
    #uitah {
        font-size: 25px;
    }
    div.prodbody {
        padding-top: 0;
    }
    #sultb {
        width: 30vw;
        height: 25vh;
        padding-right: 15px;
    }
}
@media only screen and (max-width: 425px) {
    #priceContainer {
        font-size: 5vw;
    }
    #orderFull {
        font-size: 3.5vw;
    }
}
@media only screen and (max-width: 364px) {
    #NtysD {
        height: 90vh;
    }
    div.discpro {
        margin-right: 5px;
    }
}
@media only screen and (max-height: 586px) {
    #NtysD {
        height: 90vh;
    }
    div.discpro {
        height: 85%;
    }
}
@media only screen and (min-height: 672px) {
    div.titl {
        padding-bottom: 0;
        height: 50px;
    }
}
.localenhance {
    font-size: 20px;
}
#cbb {
    font-size: 30px;
}
#bnnrbtn {
    background: none;
    border-radius: 5px;
    border: 1px solid black;
    padding: 3px;
    font-size: 20px;
}
#bnnrbtn:hover {
    cursor: pointer;
}
#bnnrbtn:active {
    border: 1px solid rgb(255, 243, 243);
    color: rgb(255, 244, 244);
}
#orderFull {
    width: 150px;
    cursor: pointer;
    border-radius: 5px;
    border-width: 1px;
    border-color: transparent;
    color: black;
}
#orderFull:hover {
    background-color:rgba(62, 62, 62, 0.26);
    color: white;
}
#orderFull:active {
    border: 1px solid black;
}
.outofstock {
    color: red;
    font-weight: bold;
}
.oosbutton {
    cursor: default !important;
}
.newproducttag {
    background-color: gold;
    padding: 0 5px 0 5px;
    border-radius: 50px;
    font-size: 25px;
}
.oosbtag {
    background: rgb(226, 3, 3);
    color: white;
    padding: 0 5px 0 5px;
    border-radius: 50px;
    font-size: 20px;
}
#MOJqq {
    padding-left: 15px;
    padding-top: 50px;
    height: 150px;
    width: 150px;
}
#svFJg {
    margin-left: 35px;
}
#kUttp {
    width: 150px;
    cursor: pointer;
    border-radius: 5px;
    border-width: 1px;
    border-color: transparent;
}
.goHome {
    margin-top: 15px;
    margin-left: 15px;
    width: 300px;
    font-size: 25px;
}
.goHome > span {
    vertical-align: middle;
    font-size: 25px;
}
.timeCont {
    border-radius: 50px;
    background-color: white;
    width: 200px;
    position: fixed;
    top: 115px;
    left: 15px;
    text-align: center;
}
@keyframes slideUp {
    0% {
      transform: translateY(0);
    }
  
    100% {
      transform: translateY(-100px);
    }
}
@keyframes slideDown {
    0% {
      transform: translateY(0);
    }
  
    100% {
      transform: translateY(100px);
    }
}
.scrollUp {
    animation: slideUp 1s ease 0s 1 normal forwards;
}
.scrollDown {
    animation: slideDown 1s ease 0.25s 1 normal forwards;
}
